<% if logged_in? %>
<p>ログイン完了ユーザー:<%= current_user.name %></p>
写真一覧ページ

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Photos</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>