/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
    padding: 12px;
    margin-bottom: 24px;
    text-align: center;
    background-color: #eee;
    font-size: large;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
button:focus {
	outline: none;
}
button:active {
  outline: none;
}
.word-wrap{
    word-wrap: break-word;
}

#show-table{
    width:100%;
    table-layout:fixed;
    border:1px #eee solid;
}

#show-table th{
    border:1px #eee solid;
    width:20%;
    padding: 4px;
}

#show-table td{
    border:1px #eee solid;
    word-wrap: break-word;
    padding: 4px;
}
.usersProf_wrapper {
  margin-bottom: 24px;
}
.usersProf_tabs_wrapper {
  margin-bottom: 24px;
}
/* ユーザープロフィールのアイコン */
.userIcon_wrapper {
  padding: 0 0 48px 0;
}
.userIcon_image {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow-x: hidden;
  margin-bottom: 20px;
}
.userIcon_image img {
  object-fit: cover;
  width: 180px;
  height: 180px;
}
.userIcon_name {
  text-align: center;
  margin-bottom: 12px;
}
.userIcon_followbtn {
  text-align: center;
}

/* 投稿写真詳細ページ　*/
.postimage {
}
.postimage img{
  width: 100%;
}
#postImage {
}
#postImage .prof_wrapper {
  border: solid 1px #ddd;
  padding: 8px;
  height: 100px;

}
#postImage .prof_image {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow-x: hidden;
  float: left;
  margin-right: 24px;
}
#postImage .prof_image img {
  object-fit: cover;
  width: 80px;
  height: 80px;
}
#postImage .prof_text {
  display: block;
  margin-top: 6px;
  font-size: 18px;
}
.postimage_day{
  color: #999;
}
.postimage_title {
  margin-top: 24px;
  font-size: 1.6em;

}
.postimage_equipment{
  color: #999;
}
.postimage_coment {
  font-size: 1.1em;
  margin-top: 24px;
}

.postimage_followbtn{
  margin-top: 12px;
}

.postImgEvaluationBtns__wrapper {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 24px;
  text-align: center;
}
.postImgEditBtn {
  margin: 36px 0;
}

/* ユーザーコメント */
h1#userComment {
  margin-top: 24px;
}
.userComment__wrapper {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 12px 16px;
  margin-bottom: 12px;
}
.userComment__inner-l {
  display: block;
  float: left;
}
.userComment__inner-r {
  display: block;
  float: left;
  width: 80%;
  margin-left: 12px;
}
.userComment__delete-btn {
  margin-top: 12px;
}
.userComment__userIcon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow-x: hidden;
}
.userComment__userIcon img {
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.userComment__content {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.userComment__content p {
  margin-bottom: 0;
}
.userComment__name {
  font-size: 0.9em;
  color: royalblue;
}

/* User投稿一覧ページ　*/
.userPhotoList__box{
  width: 100%;
  margin-top: 12px;
  margin-bottom: 6px;
}
.userPhotoList__box img {
  width: 100%;
}
/* Userお気に入りページ　*/
.userBookmarkList__box {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 6px;
}
.userBookmarkList__box img {
  width: 100%;
}


/* 全ユーザー投稿写真一覧ページ　*/
.allPhotoList__box {
  width:100%;
  margin-top: 12px;
  margin-bottom: 6px;
}
.allPhotoList__box img {
  width: 100%;
}
/* お気に入り、いいねボタン　*/
.icon__wrapper {
  display: block;
  text-align: right;
  margin-bottom: 24px;
}
#goodBtn__area {
  display: inline-block;
}
#bookmarkBtn__area {
  display: inline-block;
}
.goodCount {
  font-size: 15px;
  color: #999;
  margin-left: 3px;
}
.bookmarkCount {
  font-size: 15px;
  color: #999;
  margin-left: 3px;
}
.icon__wrapper .btn{
  padding-right: 0px;
  padding-top: 0px;
}
.icon_thumbsup-on{
  fill: #007bff;
  width: 18px;
}
.icon_thumbsup-off{
  fill: #6c757d;
  width: 18px;
}
.icon_star-on{
  fill: #ffc107;
  width: 18px;
}
.icon_star-off{
  fill: #6c757d;
  width: 18px;
}


/* ログインボタン　*/

.loginBtn__wrapper {
  display: block;
  width: 100%;
  margin-top: 24px;
  text-align: center;
}
